body
{
    margin: 0;
}

.container
{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #3d8ef3 0%, #2251b9 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo
{
    width: 50%;
    text-align: center;
}

.logo-container
{
    width: 50%;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #ffffffe0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}

button
{
    background: transparent linear-gradient(180deg, #3d8ef3 0%, #2251b9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 50%;
    border: none;
    color: #fff;
    margin: 1em;
    line-height: 2.5em;
}

input
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (max-device-width: 420px)
{
    .container
    {
        flex-direction: column;
    }
    *
    {
        font-size: 36px;
    }

    .logo, .logo-container
    {
        width: 100%;
    }
    
    form
    {
        margin: auto;
    }

    img
    {
        height: 7em;
        margin: 2em;
    }
}